<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Booze Clues </title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
  <link href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel='stylesheet'>


  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/clean-blog.css') }}" rel="stylesheet">

  <body>


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('home')}}"><i class="fas fa-cocktail"></i><i class="fas fa-search"></i></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('home')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('about')}}">About Us </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('get_recipes')}}">Recipes!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('add_recipe')}}">Add to the collection!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('find_shop')}}">Shop</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/Cocktail_Header.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Booze Clues</h1>
              <span class="subheading">An Almanac of the Alcoholic Arts</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">

            <h2 class="post-title">

              {% block content %} {% endblock %}


              <!-- Pager -->

          </div>
        </div>
      </div>

      <hr>

      <!-- Footer -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-4 mx-auto">
              <ul class="list-inline text-center">
                <li class="list-inline-item">
                  <a href="https://twitter.com/liam___browne">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              
              
              </ul>
              <p class="copyright text-muted">Copyright &copy; Liam Browne 2019</p>
            </div>
          </div>
        </div>
      </footer>


    </div>



    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js' ) }}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js' ) }}"></script>


    <!-- Custom scripts for this template -->
    <script src="{{url_for('static', filename='js/clean-blog.min.js' ) }}"></script>
    <script>
      $('#myCollapsible').collapse({
  toggle: false
});
    </script>
  </body>

</html>
