{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            <p>Edit Recipe</p>
             <form name="sentMessage" id="contactForm" action="{{ url_for('insert_recipe') }}" method="POST">


               


                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls" required >
                                <label>Drink Name </label>
                                <input type="text" class="form-control required" placeholder="Drink Name" name="name" id="name" required data-validation-required-message="Please enter the Drinks name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Base Spirit</label>
                                <input type="text" class="form-control" placeholder="Base Spirit" id="base_spirit" name="base_spirit" required data-validation-required-message="Please enter your Base Spirit">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Equipment? </label>
                                <input type="text" class="form-control" placeholder="Tin? Shaker? Strainers?" id="equipment" name="equipment" required data-validation-required-message="Please enter the equipment needed.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Ingredients</label>
                                <input type="text" class="form-control" placeholder="Ingredients" id="ingredients" name="ingredients" required data-validation-required-message="Please enter your ingredients">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Method</label>
                                <textarea rows="5" class="form-control" placeholder="Method" id="method" name="method" required data-validation-required-message="Please enter the method!"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-dark" id="sendMessageButton" >Add to the Collection!</button>
                        </div>
            </form>
            </div>
            </div>
        </div>

{% endblock %}
