{% extends "base.html" %} {% block content %}



<h3 class="align-item-center">Now you have the how, we need the hooch!</h3>

<div class="container"></div>
<div class="row">
<div class="card col-6 ">
    <img src='./static/img/jameson.jpg' class="card-img-top" alt="Jameson, sorry the image couldnt load!">
    <div class="card-body">
        <h5 class="card-title">Whiskey</h5>
        <p class="card-text">Our reccomended whiskey </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Sweet Irish whiskey</li>
        <li class="list-group-item">Works with every cocktail </li>

    </ul>
    <div class="card-body">
        <a href="https://www.amazon.co.uk/Jameson-Irish-Whiskey-70-cl/dp/B000WIQLG2" class="card-link">Buy Now! </a>

    </div>
</div>

<div class="card col-6 ">
    <img src='./static/img/Bombay.jpg' class="card-img-top" alt="Bombay Saphire, sorrry it couldnt load!">
    <div class="card-body">
        <h5 class="card-title">Gin</h5>
        <p class="card-text">Our reccomended Gin </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Botanical English Gin</li>
        <li class="list-group-item">Works with every cocktail </li>

    </ul>
    <div class="card-body">
        <a href="https://www.amazon.co.uk/Bombay-Sapphire-101545798-Gin-700ml/dp/B003RUSKH0" class="card-link">Buy Now! </a>

    </div>

</div>

<div class="card col-6 ">
    <img src='./static/img/ketel-one.jpg' class="card-img-top" alt="Bombay Saphire, sorrry it couldnt load!">
    <div class="card-body">
        <h5 class="card-title">Vodka</h5>
        <p class="card-text">Our reccomended Vodka </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Great Vodka should taste of nothing!</li>
        <li class="list-group-item">Works with every cocktail </li>

    </ul>
    <div class="card-body">
        <a href="https://www.amazon.co.uk/Ketel-One-Vodka-70-cl/dp/B001P4WHF6" class="card-link">Buy Now! </a>

    </div>

</div>

<div class="card col-6 ">
    <img src='./static/img/don-j.jpg' class="card-img-top" alt="Bombay Saphire, sorrry it couldnt load!">
    <div class="card-body">
        <h5 class="card-title">Tequila</h5>
        <p class="card-text">Our reccomended Tequila! </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Smooth Agave Tequila</li>
        <li class="list-group-item">Works with every cocktail </li>

    </ul>
    <div class="card-body">
        <a href="https://www.amazon.co.uk/Bombay-Sapphire-101545798-Gin-700ml/dp/B003RUSKH0" class="card-link">Buy Now! </a>

    </div>

</div>

</div>
{% endblock %}
