{% extends "base.html" %}
{% block content %}



<h3>Now you have the how, we need the hooch!</h3>

<div class="row"></div>
<div class="card col-6 ">
  <img src='./static/img/jameson.jpg' class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Whiskey</h5>
    <p class="card-text">Our reccomended whiskey </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Sweet Irish whiskey</li>
    <li class="list-group-item">Works with every cocktail </li>
    
  </ul>
  <div class="card-body">
    <a href="https://www.amazon.co.uk/Jameson-Irish-Whiskey-70-cl/dp/B000WIQLG2" class="card-link">Buy Now! </a>

  </div>
</div>
</div>

{% endblock %}