{% extends "base.html" %} {% block content %}
<h3 class="text-center">Our Favourites</h3>
<div class="container">
<div class="row">
<div class="card col-6 ">
    <img src='./static/img/jameson.jpg' class="card-img-top" alt="Jameson, sorry the image couldnt load!">
    <div class="card-body">
        <h5 class="card-title">Whiskey</h5>
        <p class="card-text">Our reccomended whiskey </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Sweet Irish whiskey</li>
        <li class="list-group-item">Works with every cocktail </li>

    </ul>
    <div class="card-body">
        <a class="card-link btn btn-outline-secondary" href="https://www.amazon.co.uk/Jameson-Irish-Whiskey-70-cl/dp/B000WIQLG2" >Buy Now! </a>

    </div>
</div>

<div class="card col-6">
    <img src='./static/img/ketel-one.jpg' class="card-img-top" alt="Ketel One, sorrry it couldnt load!">
    <div class="card-body">
        <h5 class="card-title">Vodka</h5>
        <p class="card-text">Our reccomended Vodka </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Smooth Russian vodka!</li>
        <li class="list-group-item">Works with every cocktail </li>

    </ul>
    <div class="card-body">
        <a class="card-link btn btn-outline-secondary" href="https://www.amazon.co.uk/Ketel-One-Vodka-70-cl/dp/B001P4WHF6" >Buy Now! </a>

    </div>

</div>

<div class="card col-6 ">
    <img src='./static/img/rum.jpg' class="card-img-top" alt="Don Julio, sorrry it couldnt load!">
    <div class="card-body">
        <h5 class="card-title">Rum</h5>
        <p class="card-text">Our reccomended Rum! </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cane aged Rum!</li>
        <li class="list-group-item">Works with every cocktail </li>

    </ul>
    <div class="card-body">
        <a class="card-link btn btn-outline-secondary" href="https://www.amazon.co.uk/Havana-Club-Anejo-Blanco-70/dp/B07YGT1CD3/ref=sr_1_1?qid=1569847100&refinements=p_4%3AHavana+Club&s=alcohol&sr=1-1" >Buy Now! </a>
    </div>

</div>

<div class="card col-6 ">
    <img src='./static/img/Bombay.jpg' class="card-img-top" alt="Bombay Saphire, sorrry it couldnt load!">
    <div class="card-body">
        <h5 class="card-title">Gin</h5>
        <p class="card-text">Our reccomended Gin </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Botanical English Gin</li>
        <li class="list-group-item">Works with every cocktail </li>

    </ul>
    <div class="card-body">
        <a class="card-link btn btn-outline-secondary" href="https://www.amazon.co.uk/Bombay-Sapphire-101545798-Gin-700ml/dp/B003RUSKH0"  >Buy Now! </a>

    </div>

</div>



<div class="card col-12 ">
    <img src='./static/img/don-j.jpg' class="card-img-top" alt="Don Julio, sorrry it couldnt load!">
    <div class="card-body">
        <h5 class="card-title">Tequila</h5>
        <p class="card-text">Our reccomended Tequila! </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Smooth Agave Tequila</li>
        <li class="list-group-item">Works with every cocktail </li>

    </ul>
    <div class="card-body">
        <a  class="card-link btn btn-outline-secondary" href="https://www.amazon.co.uk/Don-Julio-Blanco-Tequila-70/dp/B004EAL1QE" >Buy Now! </a>

    </div>

</div>


<div class="card col-12 ">
    <img src='./static/img/lem_lime.jpg' class="card-img-top" alt="Don Julio, sorrry it couldnt load!">
    <div class="card-body">
        <h5 class="card-title">Juices!</h5>
        <p class="card-text">Our reccomended juices! </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Lemon and Lime are the main pain!</li>
        <li class="list-group-item">Get the rest at local shops saves the wait! </li>

    </ul>
    <div class="card-body">
        <a class="card-link btn btn-outline-secondary" href="https://www.nisbets.ie/funkin-lemon-juice/cf720" >Buy Lemon Now! </a>
        <a class="card-link btn btn-outline-secondary" href="https://www.nisbets.ie/funkin-lime-juice/cf721" >Buy Lime Now! </a>

    </div>

</div>

</div>

</div>
{% endblock %}